.main-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.task-section {
  flex: 1;
}

.task-wrapper {
    max-width: 500px;
    margin-left: 20px;
}

#taskList {
    padding: 0;
    list-style-position: inside;
    max-height: 660px;
    overflow-y: auto;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
}

.task-item span {
    flex: 3;
    word-break: break-word;
}

.task-item small {
    flex: 2;
    font-size: 0.9em;
    color: #666;
}

.button-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.calendar-section {
  flex: 1;
}

.calendar-section h2 {
  text-align: right;
  margin-bottom: 10px;
}
#calendar {
  max-width: 900px;
  margin: 0px auto;
}

.fc-event.completed-task .fc-event-title {
  text-decoration: line-through;
  color: #444 !important;
}


.fc-event.completed-task {
  background-color: #ccc !important;
}

#taskFilterButtons {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

#taskFilterButtons button {
    padding: 5px 10px;
    cursor: pointer;
}